attrs==21.2.0
bg-helper==0.1.11
dt-helper==0.0.6
fs-helper==0.0.8
importlib-metadata==4.6.3
iniconfig==1.1.1
input-helper==0.1.40
packaging==21.0
pkg_resources==0.0.0
pluggy==0.13.1
py==1.10.0
pymongo==3.12.0
pyparsing==2.4.7
pytest==6.2.4
pytest-runner==5.3.1
pytz==2021.1
settings-helper==0.0.10
toml==0.10.2
typing-extensions==3.10.0.0
zipp==3.5.0
